@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
:root {
	a {
		text-decoration: underline;
		color: blue;
	}
	background-image: url(https://www.meetup.com/images/background-noise.webp);
	font-family: 'Source Serif 4', serif;
}
